[Unit]
Description=Rezeptbuch web service
After=network.target

[Service]
ExecStart=npm run start
User=pi
Group=pi
WorkingDirectory=/home/pi/RSSTelegramBot
PrivateTmp=true
Restart=always

[Install]
WantedBy=default.target
