[Unit]
Description=RSSBot web service
After=network.target

[Service]
ExecStart=/home/niklas/dev/RSSTelegramBot/start.sh
User=niklas
Group=niklas
WorkingDirectory=/home/niklas/dev/RSSTelegramBot
PrivateTmp=true
Restart=always

[Install]
WantedBy=default.target
